<%= form_with(model: burger, local: true) do |f| %>
  <% @ingredient_types.each do |type, ingredients| %>
    <h2><%= type %></h2>
    <div class="burger-ingredients-item">
      <a class="prev" onclick="moveSlides(-1)"></a>

      <div class="ingredients-wrapper">
        <div class="ingredients-sliders-container">
          <% ingredients.each do |ingredient| %>  
            <div class="ingredient-content-wrapper">
              <%= f.check_box ingredient.id %>
              <%= f.label type, value: ingredient.id %>

              <div class="ingredient">
                <span class="title-ingredient"><%= ingredient.title %></span>
                <%= image_tag ingredient.picture.image_name.url(:small) if  ingredient.picture.present? %>
                <span class="price-ingredient"><%= ingredient.price %></span>   
              </div>
                     
            </div>
          <% end %>
        </div>
      </div>

      <a class="next" onclick="moveSlides(1)"></a>
    </div>
  <% end%>
  <div class="create-burger-btn">
    <%= f.submit "Create Burger", class: 'ui inverted button' %>
  </div>
<% end %>