<%= form_with(model: burger, local: true) do |f| %>
  <% @ingredient_types.each do |type, ingredients| %>
    <div class="burger-ingredients-item">
      <a class="prev" onclick="moveSlides(-1)"></a>

      <h3><%= type %></h3>

      <div class="ingredients-wrapper">
        <% ingredients.each do |ingredient| %>  
          <div class="ingredient-content-wrapper">
            <%= f.check_box ingredient.id %>
            <%= f.label type, value: ingredient.id %>

            <%= image_tag ingredient.picture.image_name.url(:medium) if  ingredient.picture.present? %>
          </div>
        <% end %>
      </div>

      <a class="next" onclick="moveSlides(1)"></a>
    </div>
  <% end%>

  <%= f.submit %>
<% end %>