<div class="tabs">
  <% product.product_types.each do |product_type| %>
    <div class="tablinks defaultOpen" onclick="openDetails(event, <%= product_type.id %> )">
      <%= product_type.proportion %>
    </div>
  <% end %>
</div>

<% product.product_types.each do |product_type| %>
  <div id="<%= product_type.id %>" class="tabcontent">
    <div class="weight">
      <%= product_type.weight %> гр.
    </div>
    <div class="price">
      <%= product_type.price %> UA
    </div>
    <div class="add-to-cart-icon">
      <% if product_type.product.per_bonuses %>
        <%= link_to buy_per_bonuses_cart_path(product_type), method: :put, remote: true,  style: 'text-decoration: none; color: white;' do %>
          <%= semantic_icon('bitcoin') %>
        <% end %>
      <% else %>
        <%= link_to add_product_cart_path(product_type), method: :put, remote: true,  style: 'text-decoration: none; color: white;' do %>
          <%= semantic_icon('shopping basket') %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<script>
  document.getElementsByClassName("defaultOpen")[0].click();

  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" defaultOpen", "");
  }
</script>