<div class='login-form'>
  <%= form_for @session_form, url: session_path do |f| %>
    <div class='login-phone'>
      <%= f.label :phone_number  %>
      <%= f.text_field :phone_number, maxlength: 9, class: 'login-phone-input', autocomplete: 'off' %>
    </div>

    <div class='login-password'>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'login-password-input' %>
    </div>

    <div class='login-button'>
      <%= f.submit 'Login', class: 'ui inverted button' %>
    </div>
  <% end %>
  <div class='login-sign-up'>
    <%= link_to 'Or you can Sign up', new_user_path, style: 'color: white' %>
  </div>
 </div>
