<div class='nav-bar'>
  <div class='blog'>
    <%= link_to root_path, style: 'text-decoration: none' do %>
      <div class="nav-icon">
        <%= semantic_icon('black newspaper') %>
      </div>

      <div class="content">
        Blog
      </div>
    <% end %>
  </div>

  <div class='delivery'>
    <%= link_to category_path(@cate), style: 'text-decoration: none' do %>
      <div class="nav-icon">
        <%= semantic_icon('black shopping bag') %>
      </div>

      <div class="content">
        Delivery
      </div>
    <% end %>
  </div>

  <div class='cart'>
    <%= link_to cart_path(current_cart), style: 'text-decoration: none' do %>
      <div class="nav-icon">
        <%= semantic_icon('shopping basket icon') %>
      </div>

      <div class="content" id='cart-icon'>
        <%= number_to_currency current_cart.total_price %>
      </div>
    <% end %>
  </div>

  <% if current_user %>
  <div class="profile-wrapper">
    <div class='profile'>
      <%= link_to user_path(current_user), style: 'text-decoration: none' do %>
        <div class="nav-icon">
          <%= semantic_icon('black user outline') %>
        </div>

        <div class="content">
          Profile
        </div>
      <% end %>

      <ol class="sub-menu">
        <li class="menu-item">
          <%= link_to favorites_path, style: 'text-decoration: none' do %>
            <div class="nav-menu-icon">
             <%= semantic_icon('red heart') %>
            </div>
          <% end %>
        </li>
        <li class="menu-item">
          <%= link_to order_list_user_path(current_user), style: 'text-decoration: none' do %>
            <div class="nav-menu-icon">
              <%= semantic_icon('black clipboard list') %>
            </div>
          <% end %>
        </li>
        <li class="menu-item">
          <%= link_to logout_path, style: 'text-decoration: none' do %>
            <div class="nav-menu-icon">
              <%= semantic_icon('black sign-out') %>
            </div>
          <% end %>
        </li>
      </ol>
    </div>
  </div>

  <% else %>

    <div class='login'>
      <%= link_to login_path, style: 'text-decoration: none' do %>
        <div class="nav-icon">
          <%= semantic_icon('user') %>
        </div>

        <div class="content">
          Login
        </div>
      <% end %>
    </div>

    <%end%>
</div>

<script>
  $(document).on('turbolinks:load', function () {
    $('.nav-bar').css('position', 'absolute');
  });
</script>