<div class='nav-bar'>
  <div class='blog'>
    <%= link_to root_path, style: 'text-decoration: none' do %>
      <%= semantic_icon('newspaper') %>
      Blog
    <% end %>
  </div>

  <div class='delivery'>
    <%= link_to category_path(@cate), style: 'text-decoration: none' do %>
      <%= semantic_icon('shopping bag') %>
      Delivery
    <% end %>
  </div>

  <div class='delivery'>
    <% if current_user %>
      <%= link_to user_path(current_user), style: 'text-decoration: none' do %>
        <%= semantic_icon('user outline') %>
        Profile
      <% end %>

      <%= link_to logout_path, style: 'text-decoration: none' do %>
        <%= semantic_icon('heart') %>
        Favorites
      <% end %>

      <%= link_to order_list_user_path(current_user), style: 'text-decoration: none' do %>
        <%= semantic_icon('clipboard list') %>
        Orders
      <% end %>

      <%= link_to logout_path, style: 'text-decoration: none' do %>
        <%= semantic_icon('sign-out') %>
        Logout
      <% end %>

      <% else %>

      <%= link_to login_path, style: 'text-decoration: none' do %>
        <%= semantic_icon('user') %>
        Login
      <% end %>

    <% end %>
  </div>

  <div class='cart'>
    <%= link_to cart_path(current_cart), style: 'text-decoration: none' do %>
      <%= semantic_icon('cart arrow down') %>
      <p id='cart-icon'><%= number_to_currency current_cart.total_price %></p>
    <% end %>
  </div>
</div>