<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
    <script>
        document.addEventListener("DOMContentLoaded", initMap2);
    </script>
<% end %>

<div class="user-information">
  <%= form_with(model: order, local: true) do |f| %>
  <section class='name'>
    <div class='first_name'>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'name-input', autocomplete: 'off' %>
    </div>

    <div class='last_name'>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'name-input', autocomplete: 'off' %>
    </div>
  </section>


  <div class='number-promo-fields'>
    <div class='user-number'>
      <%= f.label :phone_number %>
      <%= f.text_field :user_number, class: 'user-number-input', autocomplete: 'off' %>
    </div>

    <div class='promocode-block'>
      <%= f.label :promocode %>
      <%= f.text_field :promo_code, class: 'promocode-input', autocomplete: 'off' %>
    </div>
  </div>

  <div class="checkboxes">
    <div class='pay-type'>
      <span class="checkbox-header">Pay type:</span>
      <div>
        <%= f.radio_button :pay_type, 'Cash', checked: true %>
        <%= f.label :pay_type, :value => 'Cash' %>
      </div>

      <div>
        <%= f.radio_button :pay_type, 'Terminal' %>
        <%= f.label :pay_type, :value => 'Terminal' %>
      </div>
    </div>

    <div class='delivery-type'>
      <span class="checkbox-header">Delivery type:</span>
      <div>
        <%= f.radio_button :delivery_type, 'Pickup', checked: true %>
        <%= f.label :delivery_type, :value => 'Pickup' %>
      </div>

      <div>
        <%= f.radio_button :delivery_type, 'delivery' %>
        <%= f.label :delivery_type, :value => 'Delivery' %>
      </div>
    </div>
  </div>

  <div class='description'>
    <%= f.label :your_wishes %>
    <%= f.text_area :description, class: 'description-input' %>
  </div>

  <div class='order-button'>
    <%= f.submit 'Confirm', class: 'ui inverted button' %>
  </div>
</div>

<div class='order-map'>
    <%= f.fields_for :place_attributes, order.place do |form| %>
      <%= form.text_field :latitude, style: 'visibility: hidden' %>

      <%= form.text_field :longitude, style: 'visibility: hidden' %>

      <div class='address'>
        <%= form.label 'Pull marker to your address in the map:' %>
      </div>

      <div id="map2"></div>
  <% end %>
</div>
<% end %>

