<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
    <script>
        document.addEventListener("DOMContentLoaded", initMap2);
    </script>
<% end %>

<div class="user-information">
  <%= form_with(model: order, local: true) do |f| %>
  <section class='name' >
    <div class='first_name'>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'name-input' %>
    </div>

    <div class='last_name'>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'name-input' %>
    </div>
  </section>

  <section class='dropdown' >
    <div class='number-promo-fields'>
      <div class='user-number'>
        <label for="user-number">Phone number</label>
        <input id="user-number" type="text">
      </div>

      <div class='promocode-block'>
        <label for="promocode">Promocode</label>
        <input id="promocode" type="text">
      </div>
    </div>
      

      <div class='delivery-type'>
        <h4>Delivery type:</h4>
        <div>
          <input type="radio" id="pickup-radio-button">
          <label for="pickup-radio-button">Pickup</label>
        </div>
        
        <div>
          <input type="radio" id="delivery-radio-button">
          <label for="delivery-radio-button">Delivery</label>
        </div>
      </div>

      <div class='pay-type'>
        <h4>Pay type:</h4>
        <div>
          <input type="radio" id="cash-radio-button">
          <label for="cash-radio-button">Cash</label>
        </div>
        
        <div>
          <input type="radio" id="terminal-radio-button">
          <label for="terminal-radio-button">Terminal</label>
        </div>
      </div>
    </section>

  <div class='description'>
    <%= f.text_area :description, class: 'description-input', placeholder: 'Write all as you want' %>
  </div>

  <div class='order-button'>
    <%= f.submit nil, class: 'ui inverted orange button' %>
  </div>
</div>

  <div class='order-map'>
      <%= f.fields_for :place_attributes, order.place do |form| %>
        <%= form.text_field :latitude, style: 'visibility: hidden' %>

        <%= form.text_field :longitude, style: 'visibility: hidden' %>

        <div class='address'>
          <%= form.label 'Pull marker to your address in the map:' %>
        </div>

        <div id="map2"></div>
    <% end %>
  </div>
<% end %>