<% if @cart.line_items.empty? %>

<div class='empty-cart'>
  <h3> Cart is empty</h3>
</div>

<% else %>

<div id='cart'>
  <%= render @cart %>
</div>

<div id='buy-together'>
  <% @products.each do |product| %>
    <div class="buy-together-item">
      <%= image_tag product.picture.image_name.url(:medium), class: 'suggested-product-icon' %>
      <%= product.title %>
      <div class="suggested-tabs">
        <% product.product_types.each do |product_type| %>
          <div class="tablins defaultOpen" onclick="openDetails(event, <%= product_type.id %> )">
            <%= product_type.proportion %>
          </div>
        <% end %>
      </div>

      <% product.product_types.each do |product_type| %>
        <div id="<%= product_type.id %>" class="tacontent">
          <div class="weight">
            <%= product_type.weight %> гр.
          </div>
          <div class="price">
            <%= number_to_currency product_type.price %>
          </div>
          <div class="add-to-cart-icon">
            <%= link_to add_product_cart_path(product_type), method: :put, remote: true,  style: 'text-decoration: none; color: white;' do %>
              <%= semantic_icon('shopping basket') %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    
  <script>
    document.getElementsByClassName("defaultOpen")[0].click();

    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" defaultOpen", "");
    }
  </script>
    <% end %>
</div>


<% end %>