<div class='list'>
  <% @category.products.each do |product| %>
    <div class='product'>
      <div class='title'>
        <%= product.title %>
      </div>
      <div class='image'>
        <%= image_tag product.picture.image_name.url(:large) %>
      </div>

      <div class="tabs">
        <% product.product_types.each do |product_type| %>
          <div class="tablinks defaultOpen" onclick="openDetails(event, <%= product_type.id %> )">
           <%= product_type.proportion %>
          </div>
        <% end %>
      </div>

      <% product.product_types.each do |product_type| %>
        <div id="<%= product_type.id %>" class="tabcontent">
          <div class="weight">
            <%= product_type.weight %>
          </div>
          <div class="price">
            <%= product_type.price %>
          </div>
          <div>
            <%= link_to add_product_cart_path(product_type), method: :put, style: 'text-decoration: none' do %>
              <%= semantic_icon('cart arrow down') %>
            <% end %>
          </div>
        </div>
      <% end %>
      
    </div>
  <% end %>
</div>