<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
<% end %>

<div class='list'>
  <% @category.products.each do |product| %>
    <div class='product'>
      <div class='title'>
        <%= product.title %>
      </div>
      <div class='image'>
        <%= image_tag product.picture.image_name.url(:large) %>
      </div>
      <div id="tabs-content">
        <div class="tabs">
          <% product.product_types.each do |product_type| %>
            <div class="tablinks defaultOpen" onclick="openDetails(event, <%= product_type.id %> )">
             <%= product_type.proportion %>
            </div>
          <% end %>
        </div>

        <%= render product.product_types %>
      </div>

      <script>
        document.getElementsByClassName("defaultOpen")[0].click();

        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" defaultOpen", "");
        }
      </script>

    </div>
  <% end %>
</div>