<!DOCTYPE html>
<html>
  <head>
    <title>KrylaApi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=' + Rails.application.secrets.google_place_key %>
    <%= action_cable_meta_tag %>
    <%= yield(:head_tags) %>
  </head>

  <body style='background-image: url(<%= asset_path 'image-c.jpg' %>)'>
    <div class='main'>
      <%= render 'notifications/message' %>
      <%= render 'shared/header' %>
      <%= yield %>
    </div>
    <div class='footer'>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>